

{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Sushrut Kumar Mishra</title>
	<link href="{% static '/css/main.css'  %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="card card-body h-100  border-info" id="profile-wrapper">
					<img id="profile-pic" src="{% static 'images/DSC_0184.jpg' %}" >
					<hr>
					<h4>Hi, I'm Sushrut!</h4>
					<p>I love Coding, Travelling and Singing</p>
				</div>
			</div>

			<div class="col-md-9">
				<div class="card card-body h-100  border-info">
					<h4>About Me !</h4>
					<hr>
					<p>I am a 4th year B.Tech (CSE) student at Noida Institute of Engineering and Technology, with current overall SGPA of 8.17. I started coding just to pass my semester exams, but eventually, this necessity turned into Fun. Now, I enjoy coding!</p>

					<p>I am always keen to learn to explore new things. Currently, I'm learning Django and this portfolio is my first project. Travelling is one thing that excites me the most. Visiting new places, trying different cuisines!</p>

					<p>I'll be updating this page regularly as I keep learning more.</p>


					<ul class="social-links">
						<li><a href="https://github.com/sushrutmishra27"><img class="social" src="{% static 'images/github.png' %}"></a></li>
						<li><a href="sushrutmishra27@gmail.com"><img class="social" src="{% static 'images/gmail.png' %}"></a></li>
						<li><a href="https://www.linkedin.com/in/sushrut-kumar-mishra-10293a188/"><img class="social" src="{% static 'images/linkedin.png' %}"></<></a></li>
						<li><a href="https://www.instagram.com/pervy_sage27/"><img class="social" src="{% static 'images/insta.png' %}"></a></li>
					</ul>


				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>My Experience as an Intern</h5>
					<hr>
					<p>Summer Intern at Vardhan Consulting Intern. (June-Junly 2020)</p>
					<p>Teaching Volunteer at World Youth Organisation. (May-June 2020)</p>
					</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>What I Know</h5>
					<hr>
					<p>Python, Django, HTML/CSS, MySQL. I have a keen interest in the future potential of Internet of Things too. ;)</p>
					<p>PS: Working on MySQL and Django.</p>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>How I Learn</h5>
					<hr>
					<p>Reverse Engineer & Build Ugly Prototypes First.</p>

					<p>I can learn just about anything by having a final product to tear apart piece by piece. I break the code where I need to figure out why things work the way they do. Documentation is just a reference.</p>
				</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>My Short Term Goals</h5>
				<hr>
				<p>The first thing that I aspire, as of now, is to get placed in an esteemed organization and develop my skills further by working on good projects.</p>
				<p>After that, I want to build multiple sources of cashflow and achieve financial independence. Upon that, I want to serve my parents with all my might!</p>
				</div>
			</div>
		</div>
		<br>
	</div>


</body>
</html>
